/*--------- General CSS ---------*/
.bodyPlanner{

    margin: 0px;

}
.item-description{

    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked + .item-description{

    background: #dddddd;
    text-decoration: line-through;

}

#add{
    padding: 8px 14px;
    font-weight: bold;
    color: #ffffff;
    background: #009578;
    cursor: pointer;



}
/*--------- Website Header ---------*/
.site-header {
    padding: 20px;
    margin: 0px;
    background: #1D4231;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;

}

.site-title{

    position: absolute;
    top: 40px;
    left: 400px;
    float: center;
    font-size: 40px;
    color: #ffffff;
    font-family: Georgia, serif;
    

}

.navbar{

    float: right;
    margin-top: 5.5px;

}
.navbar ul{

    list-style: none;
    background-color:#1D4231;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Georgia, serif;
    overflow: hidden;

}

.navbar a{

    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:right;
    
}

.navbar a:visited{

    background-color: #F9AD16;

}
.navbar a:focus{

    background-color:#F9AD16;

}
.navbar a:hover{

    background-color: #F9AD16;

}
.navbar a.active{

    background-color:#F9AD16;
    color: #000000;

}

.navbar li{

    float:left;

}

img{
    height: 60px;

}
.homepage, .study-spaces {
    margin: 0px;
    padding: 0px;
    background-color: #000000;

}
/*--------- HomePage CSS ---------*/
.article-header{

    display: grid;
    place-items: center;
    position: relative;
    height: 100svh;
    overflow-x: clip;
    padding-block: 7rem;
    margin-block-end: 3rem;
    color: #ffffff;
}

.header-content {

    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
    margin: 0px;
    padding: 0px;
}

.header-content > p {

    margin: 0px;
    font-family: Georgia, sans-serif;

}


.article-header-image {

    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1;

}

@keyframes fade-out{

    to {opacity: 0;}

}

.homepage-container {
    margin: auto;
    align-content: center;
    height: auto;
    width: 50%;

}
article {

    text-align: center;

}
.art-img {

    height: auto;
    width: 100%;


}
@media (prefers-reduced-motion: no-preference) {
    article > img {

        scale: .8; opacity:0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    @keyframes fade-in {

        to { scale: 1; opacity: 1;}

    }
}
article > h1{

    color: #ffffff;
    font-size: 75px;
}
article > h2 {

    color: white;

}
article > p {

    color: white;

}

/*---------  ToDo CSS ---------*/
.planner {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.task-container {

    margin-top: 200px;
    margin-left:300px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.todo-list,
.completed-tasks {
    list-style-type: none;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    background-color: white;
}

.task {
    background-color: #fff;
    padding:10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: grab;
}

.completed-task {
    background-color: #d3ffd3;
    padding: 10px;
    margin: 5px;
    border: 1px solid #a1eaa1;
    border-radius: 3px;
}

.drop-box{

    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    background-color: white;
    

}

.add-task-container{

    position: absolute;
    top: 200px; 
    left: 450px; 

}

/*---------  Drag&Drop CSS ---------*/
.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 50px 0 0 0;
}

.drag-and-drop-container {
    width: 100%;
    margin-top:0px;
    padding-top: 0px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.task-container h1 {

    position: absolute;
    top: center;
    left: center;
    background-color:#2E5342;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.LCtitle{

    position: absolute;
    top: center;
    left: center;
    background-color:#2E5342;
    margin: 0;
    width: 24%;
    padding: 0.5rem 1rem;
    box-sizing:border-box;

}

.centerTitle{

    position: absolute;
    top: center;
    left: center;
    background-color:#2E5342;
    margin: 0;
    width: 24%;
    padding: 0.5rem 1rem;
    box-sizing:border-box;


}

.RCtitle {

    position: absolute;
    top: center;
    left: center;
    background-color:#2E5342;
    margin: 0;
    width: 24%;
    padding: 0.5rem 1rem;
    box-sizing:border-box;


}

.rightTitle {

    position: absolute;
    top: center;
    left: center;
    background-color:#2E5342;
    margin: 0;
    width: 24%;
    padding: 0.5rem 1rem;
    box-sizing:border-box;


}

#topmid {
    width: calc(100% - 10px);
    margin-top: 0px;
    min-height: 200px;
    padding-top: 0px;
    margin-bottom: 0px;
    border: 2px dashed #F9AD16;
    background-color: #1D4231;
    text-align: center;
    color: #ffffff;
    
    
}

#left,
#leftcenter,
#rightcenter,
#right {
    width: calc((100% - 30px) / 4);
    min-height: 500px;
    margin: 5px;
    border: 2px dashed #F9AD16;
    background-color: #1D4231;
    text-align: center; 
    color: #ffffff;
}

#add_btn{

    padding: 0.5rem 1rem;
    background-color:#ffffff;
    outline: none;
    border: none;
    width: 15%;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 535px;
    box-sizing: border-box;
}

#add_btn:hover {

    background-color: #F9AD16;
    color: #000000;

}

#map {
    height: 180px;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #faf0e6;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    /* Hidden by default */
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Hide the navigation links by default */
.nav-links li {
    display: none;
}

/* Show the navigation links on larger screens */
@media (min-width: 600px) {
    .nav-links li {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

/* Apply the full screen styles to the map div */
#map {
    height: 100%;
    width: 100%;
}

.map-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .map-container {
        flex-direction: row;
    }
}

